[Desktop Entry]
Name=Ours
GenericName=share utility
GenericName[ar]=مدير سرفر
Comment=share your files with your friends
TryExec=ours
Exec=ours
Terminal=true
Type=Application
Keywords=Server;storage;Share;
Icon=/home/eltahawy/Documents/our.png
Categories=Servers;Storage;Share;
StartupNotify=false
