[Desktop Entry]
Name=Webls
GenericName=Server manager
GenericName[ar]=مدير سرفر
Comment=manage webls server
TryExec=env LEPTOS_SITE_ROOT=path_to_generated_site  webls_app
Exec=env LEPTOS_SITE_ROOT=path_to_generated_site webls_app
Terminal=true
Type=Application
Keywords=Server;storage;
Icon=scanner
Categories=Servers;Storage;
StartupNotify=false
